/**
 * o-core - components - masthead slider
 *
 * @name _components.masthead-slider.scss
 */
/**
 * masthead slider / indicators
 */
.c-header--medium .c-masthead__slider__item__content__main__subtitle {
  bottom: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }
  @media only screen and (max-width: 992px) and (min-width: 768px) {
    .c-header--medium .c-masthead__slider__item__content__main__subtitle {
      padding: 0 15px; } }
  @media only screen and (max-width: 767px) {
    .c-header--medium .c-masthead__slider__item__content__main__subtitle {
      padding: 0 10px; } }

.c-header--medium .c-masthead__slider__item__content__fadebox {
  display: none; }

.c-header--medium .c-masthead .c-masthead__indicators {
  top: 310px; }
  @media only screen and (max-width: 992px) and (min-width: 768px) {
    .c-header--medium .c-masthead .c-masthead__indicators {
      top: 400px; } }
  @media only screen and (min-width: 992px) {
    .c-header--medium .c-masthead .c-masthead__indicators {
      top: 500px; } }

.c-header--small .c-masthead__slider__item__content__main__subtitle {
  bottom: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; }
  @media only screen and (max-width: 992px) and (min-width: 768px) {
    .c-header--small .c-masthead__slider__item__content__main__subtitle {
      padding: 0 15px; } }
  @media only screen and (max-width: 767px) {
    .c-header--small .c-masthead__slider__item__content__main__subtitle {
      padding: 0 10px; } }

.c-header--small .c-masthead__slider__item__content__fadebox {
  display: none; }

.c-header--small .c-masthead .c-masthead__indicators {
  top: 250px; }
  @media only screen and (max-width: 992px) and (min-width: 768px) {
    .c-header--small .c-masthead .c-masthead__indicators {
      top: 320px; } }
  @media only screen and (min-width: 992px) {
    .c-header--small .c-masthead .c-masthead__indicators {
      top: 340px; } }

.c-masthead {
  width: 100%;
  margin: 0; }
  .c-masthead__slider {
    height: 100%;
    width: 100%; }
    .c-masthead__slider__item {
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;
      z-index: -1; }
      .c-masthead__slider__item__content {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%; }
        .c-masthead__slider__item__content__main {
          font-family: 'Futura PT W01 Demi';
          font-size: 55px;
          height: 100%;
          line-height: 52px;
          position: relative;
          text-transform: uppercase; }
          .c-masthead__slider__item__content__main__subtitle {
            bottom: 272px;
            color: #fff;
            padding: 0 70px;
            position: absolute;
            width: 100%; }
          .c-masthead__slider__item__content__main .title {
            font-family: 'Futura PT W01 Book';
            font-size: 34px; }
        .c-masthead__slider__item__content__fadebox {
          bottom: 0;
          color: #fff;
          display: flex;
          flex-direction: column;
          font-family: 'Futura PT W01 Light';
          font-size: 24px;
          height: 200px;
          justify-content: center;
          line-height: 27px;
          padding: 25px 70px;
          position: absolute;
          text-transform: uppercase;
          width: 100%; }
          .c-masthead__slider__item__content__fadebox__description {
            margin-bottom: 20px;
            color: #fff !important; }
            .c-masthead__slider__item__content__fadebox__description p {
              color: #fff !important; }
        .c-masthead__slider__item__content__fadebox.has-opacity75 {
          background-color: rgba(51, 51, 51, 0.75); }
        .c-masthead__slider__item__content__fadebox.has-opacity60 {
          background-color: rgba(51, 51, 51, 0.6); }
        .c-masthead__slider__item__content__fadebox.has-opacity45 {
          background-color: rgba(51, 51, 51, 0.45); }
    @media only screen and (min-width: 1024px) {
      .c-masthead__slider {
        margin: auto; } }
  @media only screen and (max-width: 992px) and (min-width: 768px) {
    .c-masthead__slider__item__content__fadebox {
      height: 225px !important;
      font-size: 22px !important;
      padding: 20px 15px;
      text-align: center; }
    .c-masthead__slider__item__content__main {
      font-size: 40px;
      line-height: 37px;
      position: relative; }
    .c-masthead__slider__item__content__main .title {
      font-size: 24px; }
    .c-masthead__slider__item__content__main__subtitle {
      bottom: 280px;
      color: #fff;
      padding: 0 50px;
      position: absolute;
      text-align: center; } }
  @media only screen and (max-width: 767px) {
    .c-masthead__slider__item__content__fadebox {
      font-size: 20px;
      height: 225px;
      line-height: 22px;
      padding: 15px;
      text-align: center; }
    .c-masthead__slider__item__content__main {
      font-size: 32px;
      line-height: 30px;
      position: relative; }
      .c-masthead__slider__item__content__main__subtitle {
        bottom: 410px;
        height: 0;
        text-align: center; }
    .c-masthead__slider__item__content__main .title {
      font-size: 22px; } }
  @media only screen and (max-device-width: 736px) {
    .c-masthead__slider__item__content {
      background-repeat: inherit;
      background-size: inherit; }
      .c-masthead__slider__item__content__fadebox__description {
        margin-bottom: 0; }
      .c-masthead__slider__item__content__main {
        font-size: 32px;
        line-height: 30px;
        position: relative; }
        .c-masthead__slider__item__content__main__subtitle {
          bottom: 400px;
          height: 0;
          padding: 0 10px;
          text-align: center; }
      .c-masthead__slider__item__content__main .title {
        font-size: 22px; } }
  .c-masthead__indicators {
    left: 50%;
    list-style: none;
    margin-left: -30%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    top: 575px;
    width: 55%;
    z-index: 15; }
    @media only screen and (max-width: 992px) and (min-width: 768px) {
      .c-masthead__indicators {
        top: 475px; } }
    @media only screen and (max-width: 767px) {
      .c-masthead__indicators {
        top: 480px; } }
    @media only screen and (max-device-width: 736px) {
      .c-masthead__indicators {
        top: 480px; } }
    .c-masthead__indicators__action {
      color: #fff;
      display: inline-block;
      list-style: none; }
      .c-masthead__indicators__action > div {
        margin: -4px -10px; }
      .c-masthead__indicators__action__play {
        border-bottom: 5px solid transparent;
        border-left: 8px solid #b1b4b4;
        border-top: 5px solid transparent;
        height: 0;
        margin: -2px -8px;
        position: absolute;
        width: 0; }
      .c-masthead__indicators__action__pause {
        border-left: 2.5px solid #b1b4b4;
        border-right: 2.5px solid #b1b4b4;
        height: 10px;
        margin: -2px -9px;
        position: absolute;
        width: 8px; }
    .c-masthead__indicators__dot {
      background-color: #b1b4b4;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      height: 10px;
      margin: 3px;
      text-indent: -999px;
      width: 10px; }
      .c-masthead__indicators__dot.active {
        background-color: #11809f; }
    .c-masthead__indicators li::before {
      display: none; }

/**
     * Experience editor overrides
     *
     * TODO: create individual spreadsheet for experience editor overrides
     */
.is-experience-editor .c-masthead {
  height: auto;
  /* Elements */ }
  .is-experience-editor .c-masthead__slider__item {
    background-color: rgba(225, 225, 225, 0.85);
    height: 100vh; }
    @media (min-width: 1024px) {
      .is-experience-editor .c-masthead__slider__item {
        height: 767px; } }
