/**
 * o-core - components - RecommendationList
 *
 * @name _components.RecommendationList.scss
 */
/**
 * TODO: add docs
 */
.c-recommendations-list {
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  margin: 0;
  padding: 0; }
  .c-recommendations-list__primary-heading {
    color: #333e48;
    font-size: 30;
    margin-bottom: 16px; }
  .c-recommendations-list__container {
    font-family: "Lato", "Helvetica", "Arial", "sans-serif";
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .c-recommendations-list__item {
    font-family: "Lato", "Helvetica", "Arial", "sans-serif";
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 35px; }
    .c-recommendations-list__item > div {
      display: table-cell;
      vertical-align: top; }
    .c-recommendations-list__item__image img {
      width: 150px;
      height: 115px; }
    .c-recommendations-list__item__description {
      color: #11809f;
      font-size: 20px;
      padding: 15px 0 0 20px; }
    .c-recommendations-list__item::before {
      content: none; }

/* Create two equal columns that floats next to each other */
.columnx {
  display: table-cell;
  vertical-align: top;
  padding: 60px 30px 15px 60px;
  width: 50%; }
  .columnx:last-child {
    padding: 60px 60px 15px 30px; }

/* Clear floats after the columns */
.rowx:after {
  content: "";
  display: table;
  clear: both; }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 925px), screen and (max-device-width: 925px) {
  .columnx {
    display: inherit;
    float: left;
    padding: 20px !important;
    width: 100%; } }
