
/**
 * o-core - components - Comparison Slider Table
 *
 * @name _components.comparison-slider-table.scss
 */


/**
 * TODO: add docs
 */
 @mixin oCoreComponentsComparisonSliderTable {

    $comparison-table-arrow-color: #11809f;
    $comparison-table-arrow-disable-color: #ececec;
    $comparison-table-highlighted-color: #F8F8F8;
    $comparison-table-arrow-hover-color: #ff6b00;
    $comparison-table-separator-bg-color: #e5eceb;
    $comparison-table-separator-font-color: #333e48;
    $comparison-table-default-border-color: #e5eceb;


    .c-comparison-slider-table {
        margin-top: 100px;

        &__arrow-nav {
            color: $comparison-table-arrow-color;
            padding: 0 10px;
            position: sticky;
            top: 250px;

            &.is-hidden {
                visibility: hidden;
            }
        }

        &__arrow-nav__right {
            float: right;
        }

        &__arrow-nav__left, &__arrow-nav__right {
            cursor: pointer;
            display: inline-block;
            font-size: 35px;
            font-weight: normal;

            &:hover {
                color: $comparison-table-arrow-hover-color;
            }

            &.is-hidden {
                display: none !important;
            }

            &.is-arrow-end {
                color: $comparison-table-arrow-disable-color;

                &:hover {
                    color: $comparison-table-arrow-disable-color;
                }
            }
        }


        table {
            border-collapse: collapse;
            margin: 50px;
            margin-top: -100px;

            tr td {
                &:last-child, &.no-border-on-last-cell {
                    border-right: none;
                }
            }

            tbody tr {
                &:nth-child(odd) {
                    background-color: transparent;
                }

                td {
                    border-right: 1px solid $comparison-table-default-border-color;
                    font-size: 16px;
                    height: auto;
                    min-height: 44px;
                    text-align: left;
                    vertical-align: top;

                    &.c-comparison-slider-table__no-border-center {
                        border: none;
                        font-size: 16px;
                        height: auto;
                        text-align: center;
                        vertical-align: top;
                    }

                    &.c-comparison-slider-table__separator {
                        background: $comparison-table-separator-bg-color;
                        color: $comparison-table-separator-font-color;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 10px 20px;
                        text-align: left;
                    }

                    &.c-comparison-slider-table__card {
                        border: 0;
                    }

                    &.c-comparison-slider-table__card > div {
                        border-style: solid;
                        border-width: 2px;
                        -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#e5eceb), to(rgba(0, 0, 0, 0))) 1 100%;
                        -webkit-border-image: -webkit-linear-gradient(bottom,#e5eceb, rgba(0,0,0,0)) 1 100%;
                        -moz-border-image: -moz-linear-gradient(bottom, #e5eceb, rgba(0,0,0,0)) 1 100%;
                        -o-border-image: -o-linear-gradient(bottom, #e5eceb, rgba(0,0,0,0)) 1 100%;
                        border-image: linear-gradient(to top, #e5eceb, rgba(0,0,0,0)) 1 100%;
                        border-left: 0;
                        margin: -15px;
                        padding: 15px;
                    }

                    &.c-comparison-slider-table__card.no-border-on-last-cell > div {
                        border-width: 0;
                    }

                    &.is-highlighted {
                        background-color: $comparison-table-highlighted-color;
                    }

                    &.is-hidden {
                        display: none !important;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .c-comparison-slider-table table {
            tbody tr td {
                align-items: inherit;
            }

            thead tr:not(:last-child), tbody tr:not(:last-child) {
                display: block;
                margin-bottom: inherit;
            }
        }
    }

    @media (min-width: 768px) {
        .c-comparison-slider-table table tr {
            th:not(:first-child), td:not(:first-child) {
                border-left: none;
            }
        }
    }
}

@include oCoreComponentsComparisonSliderTable;