/**
 * o-core - components - header lite
 *
 * @name _components.header-lite.scss
 */


/**
 * TODO: add docs
 */
@mixin oCoreComponentsHeaderLite {
    .c-header-lite {
        background: #fff;
        box-shadow: 0 0 2px 2px rgba(54, 54, 54, 0.15);
        display: none;
        height: 50px;
        padding: 10px;
        position: fixed;
        width: 100%;
        z-index: 9;

        &__logo {
            width: 90px;
            margin: 0 auto;

            a {
                border-bottom-style: inherit;
            }
        }

        &__kk .facebook {
            width: 90px;
        }
    }

    @media screen and (max-width: 925px),
    screen and (max-device-width: 925px) {
        .c-header-lite {
            display: block;
        }
    }
}

/**
 * o-core - components - Two column mobile tabs
 *
 * @name _components.two-column-mobile-tabs.scss
 */


/**
 * TODO: add docs
 */
 @mixin oCoreComponentsTwoColumnMobileTabs {

    $c-two-column-mobile-tabs-column-width: 50%;

    $c-two-column-mobile-tabs-background-color: #e7e7e7;
    $c-two-column-mobile-tabs-border-default-color: #e7e7e7;
    $c-two-column-mobile-tabs-border-active-color: #000;
    $c-two-column-mobile-tabs-tablink-default-color: #11809F;
    $c-two-column-mobile-tabs-tablink-default-background-color: #66000000;
    $c-two-column-mobile-tabs-tablink-active-color: #333E48;
    $c-two-column-mobile-tabs-tablink-active-background-color: #66000000;
    $c-two-column-mobile-tabs-tablink-hover-color: #FF6B00;
    $c-two-column-mobile-tabs-tablink-hover-background-color: #66000000;

    /* Tabs contents */
    .c-two-column-mobile-tabs {
        &__contents {
            display: flex;
            justify-content: center;
        }

        &__content {
            display: table-cell;
            padding: 60px 30px 15px 60px;
            vertical-align: top;
            width: $c-two-column-mobile-tabs-column-width;

            form {
                margin: 0 auto;
            }
            
            &:last-child {
                padding: 60px 60px 15px 30px;
            }
        }

        &__nav {
            display: none;
        }

        &__link {
            background-color: $c-two-column-mobile-tabs-tablink-default-background-color;
            border-bottom: 1px solid $c-two-column-mobile-tabs-border-default-color;
            color: $c-two-column-mobile-tabs-tablink-default-color;
            cursor: pointer;
            font-size: 18px;
            padding: 10px 20px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;

            &:hover {
                background-color: $c-two-column-mobile-tabs-tablink-hover-background-color;
                border-bottom: 3px solid $c-two-column-mobile-tabs-tablink-hover-color;
                color: $c-two-column-mobile-tabs-tablink-hover-color;
            }

            &.is-active {
                background-color: $c-two-column-mobile-tabs-tablink-active-background-color;
                border-bottom: 3px solid $c-two-column-mobile-tabs-border-active-color;
                color: $c-two-column-mobile-tabs-tablink-active-color;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: 992px),
    screen and (max-device-width: 992px) {
        .c-two-column-mobile-tabs {
            &__contents {
                display: block;

                .c-two-column-mobile-tabs__content {
                    background-color: inherit !important;
                    display: none;
                    padding: 30px 10px 0 10px;
                    width: 100%;
                   
                    &.is-active {
                        display: block !important;
                    }
                    
                    >div {
                        background-color: inherit !important;
                    }
                }
            }

            &__nav {
                display: flex;
                margin: 0;
                padding: 0;
            }
        }
    }

    /* c-full-width-rich-text overrides */

    .c-two-column-mobile-tabs {
        .c-full-width-rich-text {
            padding: 0;
        }
    }

    @media (min-width: 1024px) {
        .c-two-column-mobile-tabs {
            .c-full-width-rich-text {
                padding: 0;
            }
        }
    }

}
