<article id="c-67c252d1-ef55-4d96-921b-c56da13ff170" class="c-comparison-slider-table" data-component="comparisonslider">

    <div class="c-comparison-slider-table__arrow-nav is-hidden">
        <div class="fas fa-chevron-left c-comparison-slider-table__arrow-nav__left is-arrow-end" tabindex="0"></div>
        <div class="fas fa-chevron-right c-comparison-slider-table__arrow-nav__right" tabindex="0"></div>
    </div>
    <div tabindex="0" data-component="comparisonslidertable">
        <style>
            @media (min-width: 767px) {
                .c-comparison-slider-table table tbody tr td {
                    width: 33%;
                }
            }
        </style>
        <table class="">
            <tbody>
                <tr>
                    <td class="c-comparison-slider-table__card" style="width: 33%;">
                        <div class="icon-text-btn-card">
                            <div><img class="fill-green" style="display: block; width: 100px; height: 100px; margin:auto;" alt="DesignStart" src="/-/media/global/Why Arm/how-arm-licensing-works/DesignStart_icon_light_blue.svg?revision=16104496-0c09-4190-8a5c-ea2b2e67b0eb&amp;hash=55E0EAC91AEBCCAE74203A8346DF7853C4BC8B55&amp;w=100&amp;h=100&amp;la=en" data-popupalt-original-title="null" title="Arm DesignStart"></div>
                            <div class="header" style="font-size:28px;font-family:Lato;color:#333e48;"><strong><br>
            Arm DesignStart</strong></div>
                            <div style="font-size:22px;font-family:Lato;color:#333e48;"></div>
                            <div style="font-size:22px;font-family:Lato;color:#333e48;">Access a select mix of IP products and tools
                                <br> &nbsp;
                                <br> &nbsp;
                            </div>
                        </div>
                    </td>
                    <td class="c-comparison-slider-table__card" style="width: 33%;">
                        <div class="icon-text-btn-card">
                            <div><img class="fill-green" style="display: block; width: 121px; height: 100px; margin: auto;" alt="Arm Flexible Access" src="/-/media/global/Why Arm/how-arm-licensing-works/Flexible-access_packages_icon_orange.svg?revision=32d6c2f3-b304-4562-84ae-e6734193de16&amp;w=121&amp;hash=74C28BC5ECE870DC8A81E6B16B65ECC2495FFD42&amp;h=100&amp;la=en" data-popupalt-original-title="null" title="Arm Flexible Access"></div>
                            <div class="header" style="font-size:28px;font-family:Lato;color:#333e48;"><strong><br>
            Arm Flexible Access</strong></div>
                            <div style="font-size:22px;font-family:Lato;color:#333e48;"></div>
                            <div style="font-size:22px;font-family:Lato;color:#333e48;">Access a wide range of IP products, support, tools and training</div>
                            <p style="font-size:22px;font-family:Lato;color:#333e48;">&nbsp;</p>
                        </div>
                    </td>
                    <td class="c-comparison-slider-table__card no-border-on-last-cell" style="width: 33%;">
                        <div class="icon-text-btn-card">
                            <div><img class="fill-green" style="display: block; width: 82px; height: 100px; margin:auto;" alt="Standard Licensing" src="/-/media/global/Why Arm/how-arm-licensing-works/Licenses_icon_green.svg?revision=0ea776a8-5e17-4ecd-8b70-1c6c767ede18&amp;w=82&amp;hash=1C08AC66C323D62023C3C28D5539F5B4C32B80BD&amp;h=100&amp;la=en" data-popupalt-original-title="null" title="Standard Licensing"></div>
                            <div class="header" style="font-size:28px;font-family:Lato;color:#333e48;"><strong><br>
            Standard Licensing</strong></div>
                            <div style="font-size:22px;font-family:Lato;color:#333e48;"></div>
                            <div style="font-size:22px;font-family:Lato;color:#333e48;">Full product portfolio, support and training</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 33%;" class=""><strong>Upfront Costs</strong></td>
                    <td style="width: 33%;" class=""><strong>Upfront Costs</strong></td>
                    <td style="width: 33%;" class="no-border-on-last-cell"><strong>Upfront Costs</strong></td>
                </tr>
                <tr>
                    <td class="" style="width: 33%;"><strong>$0</strong> for the Cortex-M0, Cortex-M1 and Cortex-M3 CPUs
                        <br>
                        <br>
                        <strong>$75K</strong> for the Cortex-A5 CPU</td>
                    <td class="" style="width: 33%;">
                        <p><strong>$75K</strong> entry package annual access fee
                            <br>
                            <br>
                            <strong>$200K</strong> standard package annual access fee</p>
                    </td>
                    <td class="no-border-on-last-cell" style="width: 33%;">Upfront license fees based on license terms</td>
                </tr>
                <tr>
                    <td style="width: 33%;" class=""><strong>Licensing</strong></td>
                    <td style="width: 33%;" class=""><strong>Licensing</strong></td>
                    <td style="width: 33%;" class="no-border-on-last-cell"><strong>Licensing</strong></td>
                </tr>
                <tr>
                    <td class="" style="width: 33%;">No additional license fee for the Cortex-M0, Cortex-M1, and Cortex-M3 CPUs
                        <br>
                        <br> $50K license fee for the Cortex-A5 CPU at tape out</td>
                    <td class="" style="width: 33%;">Per product license fees due at tape out
                        <br>
                    </td>
                    <td class="no-border-on-last-cell" style="width: 33%;">Upfront license fees based on license terms
                        <br>
                    </td>
                </tr>
                <tr>
                    <td style="width: 33%;" class=""><strong>Includes</strong></td>
                    <td style="width: 33%;" class=""><strong>Includes</strong></td>
                    <td style="width: 33%;" class="no-border-on-last-cell"><strong>Includes</strong></td>
                </tr>
                <tr>
                    <td class="" style="width: 33%;">
                        <ul>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Arm Cortex-A5, Cortex-M3 and Cortex-M0 CPUs</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">FPGA-optimized Cortex-M3 and Cortex-M1 soft CPU IP</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Corstone foundation IP</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Supporting system IP</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Artisan physical IP libraries</li>
                        </ul>
                        <a href="/resources/designstart" title="See full list of available products">See full list of available products</a> </td>
                    <td class="" style="width: 33%;">
                        <ul>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">A wide range of Cortex-A, Cortex-R and Cortex-M CPUs</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Mali GPUs</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Corstone foundation IP</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">System IP</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Security IP</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Artisan physical IP libraries</li>
                        </ul>
                        <a href="/-/media/global/Why Arm/how-arm-licensing-works/Arm_Flexible_Access_Data_Sheet.pdf?revision=ab6e334d-c402-4277-aa96-d8da9a180466&amp;la=en" title="See full list of available products">See full list of available products</a> </td>
                    <td class="no-border-on-last-cell" style="width: 33%;">
                        <ul>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Access to the most advanced Arm IP</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Locked-down system-on-chip (SoC) roadmaps with multiple uses of specific Arm IP products</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 33%;" class=""><strong>Tools and Models</strong></td>
                    <td style="width: 33%;" class=""><strong>Tools and Models</strong></td>
                    <td style="width: 33%;" class="no-border-on-last-cell"><strong>Tools and Models</strong></td>
                </tr>
                <tr>
                    <td class="" style="width: 33%;">
                        <ul>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">90-day trial of Arm Keil MDK</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">90-day trial of <a href="https://www.iar.com/designstart" target="_blank" title="IAR Embedded Workbench">IAR Embedded Workbench</a></li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Model of Cortex-M3</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Arm Socrates</li>
                        </ul>
                    </td>
                    <td class="" style="width: 33%;">
                        <ul>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Arm DS Gold One</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Arm Socrates</li>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Arm System Models</li>
                        </ul>
                    </td>
                    <td class="no-border-on-last-cell" style="width: 33%;">
                        <ul>
                            <li style="font-size:16px;font-family:Lato;color:#333e48;">Software, IP tooling and models are all licensed as additional products</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 33%;" class=""><strong>Support and Maintenance</strong></td>
                    <td style="width: 33%;" class=""><strong>Support and Maintenance</strong></td>
                    <td style="width: 33%;" class="no-border-on-last-cell"><strong>Support and Maintenance</strong></td>
                </tr>
                <tr>
                    <td class="" style="width: 33%;">Community-based support</td>
                    <td class="" style="width: 33%;">Standard support and maintenance for all included products</td>
                    <td class="no-border-on-last-cell" style="width: 33%;">Standard support and maintenance for licensed products</td>
                </tr>
                <tr>
                    <td style="width: 33%;" class=""><strong>Enhanced support options</strong></td>
                    <td style="width: 33%;" class=""><strong>Enhanced support options</strong></td>
                    <td style="width: 33%;" class="no-border-on-last-cell"><strong>Enhanced support options</strong></td>
                </tr>
                <tr>
                    <td class="" style="width: 33%;">Yes</td>
                    <td class="" style="width: 33%;">Yes</td>
                    <td class="no-border-on-last-cell" style="width: 33%;">Yes</td>
                </tr>
                <tr>
                    <td style="width: 33%;" class=""><strong>Success-based royalties</strong></td>
                    <td style="width: 33%;" class=""><strong>Success-based royalties</strong></td>
                    <td style="width: 33%;" class="no-border-on-last-cell"><strong>Success-based royalties</strong></td>
                </tr>
                <tr>
                    <td class="" style="width: 33%;">Yes</td>
                    <td class="" style="width: 33%;">Yes</td>
                    <td class="no-border-on-last-cell" style="width: 33%;">Yes</td>
                </tr>
                <tr>
                    <td class="c-comparison-slider-table__no-border" style="width: 33%;"><a href="/resources/designstart" class="c-button c-button--cta" title="More about DesignStart">Learn more</a></td>
                    <td class="c-comparison-slider-table__no-border" style="width: 33%;"><a href="/products/flexible-access/product" class="c-button c-button--cta" title="More about Arm Flexible Access">Learn more</a></td>
                    <td class="c-comparison-slider-table__no-border no-border-on-last-cell" style="width: 33%;"><a href="https://www.arm.com/products?_ga=2.60385453.1463257243.1562713905-782569451.1561675581#processor-ip" class="c-button c-button--cta" title="Explore Arm IP">Explore Arm IP</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</article>