/**
 * o-core - components - Two column mobile tabs
 *
 * @name _components.two-column-mobile-tabs.scss
 */
/**
 * TODO: add docs
 */
/* Tabs contents */
.c-two-column-mobile-tabs__contents {
  display: flex;
  justify-content: center; }

.c-two-column-mobile-tabs__content {
  display: table-cell;
  padding: 60px 30px 15px 60px;
  vertical-align: top;
  width: 100%; }
  .c-two-column-mobile-tabs__content form {
    margin: 0 auto; }
  .c-two-column-mobile-tabs__content.is-active {
    display: block !important; }
  .c-two-column-mobile-tabs__content:last-child {
    padding: 60px 60px 15px 30px; }

.c-two-column-mobile-tabs__nav {
  display: none; }

.c-two-column-mobile-tabs__link {
  background-color: #66000000;
  border-bottom: 1px solid #e7e7e7;
  color: #11809F;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  .c-two-column-mobile-tabs__link:hover {
    background-color: #66000000;
    border-bottom: 3px solid #FF6B00;
    color: #FF6B00; }
  .c-two-column-mobile-tabs__link.is-active {
    background-color: #66000000;
    border-bottom: 3px solid #000;
    color: #333E48; }
  .c-two-column-mobile-tabs__link:last-child {
    margin-right: 0; }

@media screen and (max-width: 925px), screen and (max-device-width: 925px) {
  .c-two-column-mobile-tabs__contents {
    display: block; }
    .c-two-column-mobile-tabs__contents .c-two-column-mobile-tabs__content {
      background-color: inherit !important;
      display: none;
      padding: 10px;
      width: 100%; }
      .c-two-column-mobile-tabs__contents .c-two-column-mobile-tabs__content > div {
        background-color: inherit !important; }
  .c-two-column-mobile-tabs__nav {
    display: flex;
    margin: 0;
    padding: 0; } }
