/**
 * o-core - components - overrides - news - coveo
 *
 * @name _components.overrides.news.coveo.scss
 */


/**
 * TODO: add docs
 */
 @mixin oCoreComponentsOverridesNewsCoveo {

    $c-news-listview-title-color-default: #11809F;
    $c-news-listview-data-color-default: #6F777C;
    $c-news-listview-border-color-default: #E5ECEB;

    .c-news {

        .CoveoResultList {
            margin-left: auto; // override coveo Search page style
            .CoveoResult:last-child {
                float: left;
            }

            &.listview {
                .column {
                    margin-bottom: 30px;
                    
                    .c-news {
                        &__summary__image img {
                            height: 150px;
                            width: 225px;
                        }
                        &__summary__info {
                            &__title {
                                color: $c-news-listview-title-color-default;
                                font-size: 22px !important;
                                line-height: 31px;
                                margin: 15px 0px 26px 0px;
                            }
    
                            &__date {
                                color: $c-news-listview-data-color-default;
                                font-size: 18px;
                                line-height: 26px;
                            }
                        }
                    }

                    > div:first-child {
                        float: left;
                        margin-right: 20px;
                    }

                    > div:last-child {
                        border-bottom: 1px solid $c-news-listview-border-color-default;
                        height: 150px;
                        overflow: hidden
                    }
                    
                   
                    @media only screen and (max-width: 992px) and (min-width: 768px) {
                        .c-news__summary__image img {
                            height: 210px;
                            width: 225px;
                        }

                        > div:last-child {
                            height: 210px;
                        }
                    }

                    @media only screen and (max-width: 768px) {
                        .c-news__summary__image {
                            display: none;
                        }

                        > div:last-child {
                            height: inherit;
                        }

                        .c-news__summary__info { 
                            display: flex; 
                            flex-direction: column;
                            > .c-news__summary__info__title {
                                order: 2; 
                            }
                            > .c-news__summary__info__date { 
                                order: 1; 
                            }
                        }
                    }
                }
            }

            &.Events {
                .row {
                    padding-bottom: 50px !important;
                    width: 300px;

                    @media screen and (max-width: 1025px) {
                        width: inherit;
                    }
                }

                a {
                    border-bottom-color: #ffc700 !important;
                    border-bottom-style: solid;
                    border-bottom-width: 3px;
                    bottom: 0;
                    color: #002f6c !important;
                    display: table-cell;
                    font-size: 20px !important;
                    padding: 18px 40px 0 40px;
                    position: absolute;
                    text-decoration: none;

                    &:hover {
                        border-bottom-color: #ffc700;
                        color: inherit;
                    }
                }

                .column {
                    margin-bottom: 20px;
                }

                .c-image-above-text-card__cta {
                    margin: 0 !important;
                    padding: 0 !important;
                }

                @media screen and (max-width: 767px) {
                    .c-image-above-text-card__primary {
                       line-height: 39px;
                    }
                }
            }
        }
    }
}


@include oCoreComponentsOverridesNewsCoveo